:root[data-colox-palette='demo'] {
  --colox-palette-white-0: #ffffff;
  --colox-palette-white-50: #ffffff0d;
  --colox-palette-white-100: #ffffff1a;
  --colox-palette-white-200: #ffffff33;
  --colox-palette-white-300: #ffffff4d;
  --colox-palette-white-400: #ffffff66;
  --colox-palette-white-500: #ffffff80;
  --colox-palette-white-600: #ffffff99;
  --colox-palette-white-700: #ffffffb2;
  --colox-palette-white-800: #ffffffcc;
  --colox-palette-white-900: #ffffffe5;
  --colox-palette-black-0: #000000;
  --colox-palette-black-50: #0000000d;
  --colox-palette-black-100: #0000001a;
  --colox-palette-black-200: #00000033;
  --colox-palette-black-300: #0000004d;
  --colox-palette-black-400: #00000066;
  --colox-palette-black-500: #00000080;
  --colox-palette-black-600: #00000099;
  --colox-palette-black-700: #000000b2;
  --colox-palette-black-800: #000000cc;
  --colox-palette-black-900: #000000e5;
  --colox-palette-indigo-50: #e8e7fc;
  --colox-palette-indigo-100: #d7d5f9;
  --colox-palette-indigo-200: #b5b1f4;
  --colox-palette-indigo-300: #938eef;
  --colox-palette-indigo-400: #716aea;
  --colox-palette-indigo-500: #4f46e5;
  --colox-palette-indigo-600: #2920cf;
  --colox-palette-indigo-700: #231ca6;
  --colox-palette-indigo-800: #1c1877;
  --colox-palette-indigo-900: #15124e;
  --colox-palette-gray-50: #f8f8f8;
  --colox-palette-gray-100: #fbfbfb;
  --colox-palette-gray-200: #f4f4f4;
  --colox-palette-gray-300: #eaeaea;
  --colox-palette-gray-400: #d7d7d7;
  --colox-palette-gray-500: #bdbdbd;
  --colox-palette-gray-600: #9e9e9e;
  --colox-palette-gray-700: #707070;
  --colox-palette-gray-750: #5e5e5e;
  --colox-palette-gray-800: #3d3d3d;
  --colox-palette-gray-850: #262626;
  --colox-palette-gray-900: #191919;
  --colox-palette-green-50: #f4fbf8;
  --colox-palette-green-100: #e7f9f0;
  --colox-palette-green-200: #cdf9e4;
  --colox-palette-green-300: #a1f7cf;
  --colox-palette-green-400: #6af1b2;
  --colox-palette-green-500: #30e892;
  --colox-palette-green-600: #1ed27e;
  --colox-palette-green-700: #1fad6b;
  --colox-palette-green-800: #1e8a58;
  --colox-palette-green-900: #1c6945;
  --colox-palette-red-50: #fbf4f5;
  --colox-palette-red-100: #f9e7e8;
  --colox-palette-red-200: #f9cdd1;
  --colox-palette-red-300: #f7a1a9;
  --colox-palette-red-400: #f16a77;
  --colox-palette-red-500: #e83043;
  --colox-palette-red-600: #d21e30;
  --colox-palette-red-700: #ad1f2d;
  --colox-palette-red-800: #8a1e29;
  --colox-palette-red-900: #691c24;
  --colox-palette-orange-50: #fbf7f4;
  --colox-palette-orange-100: #f9efe7;
  --colox-palette-orange-200: #f9e1cd;
  --colox-palette-orange-300: #f7c9a1;
  --colox-palette-orange-400: #f1a96a;
  --colox-palette-orange-500: #e88630;
  --colox-palette-orange-600: #d2721e;
  --colox-palette-orange-700: #ad611f;
  --colox-palette-orange-800: #8a511e;
  --colox-palette-orange-900: #69401c;
  --colox-palette-blue-50: #f4f7fb;
  --colox-palette-blue-100: #e7eef9;
  --colox-palette-blue-200: #cddff9;
  --colox-palette-blue-300: #a1c5f7;
  --colox-palette-blue-400: #6aa2f1;
  --colox-palette-blue-500: #307de8;
  --colox-palette-blue-600: #1e69d2;
  --colox-palette-blue-700: #1f5aad;
  --colox-palette-blue-800: #1e4b8a;
  --colox-palette-blue-900: #1c3c69;
  --colox-palette-purple-50: #f7f4fb;
  --colox-palette-purple-100: #efe7f9;
  --colox-palette-purple-200: #e1cdf9;
  --colox-palette-purple-300: #c9a1f7;
  --colox-palette-purple-400: #a96af1;
  --colox-palette-purple-500: #8630e8;
  --colox-palette-purple-600: #721ed2;
  --colox-palette-purple-700: #611fad;
  --colox-palette-purple-800: #511e8a;
  --colox-palette-purple-900: #401c69;
  --colox-palette-brand-50: #feefe9;
  --colox-palette-brand-100: #fce4db;
  --colox-palette-brand-200: #f8d2c3;
  --colox-palette-brand-300: #f1b7a2;
  --colox-palette-brand-400: #e59476;
  --colox-palette-brand-500: #db734d;
  --colox-palette-brand-600: #d95626;
  --colox-palette-brand-700: #b1431b;
  --colox-palette-brand-800: #883111;
  --colox-palette-brand-900: #61210a;
}
