:root[data-colox-theme='deep'] {
  --colox-color-bg-disabled: var(--colox-palette-gray-850);
  --colox-color-bg-error: var(--colox-palette-red-900);
  --colox-color-bg-info: var(--colox-palette-blue-900);
  --colox-color-bg-inverse: var(--colox-palette-white-0);
  --colox-color-bg-muted: var(--colox-palette-gray-800);
  --colox-color-bg-overlay: var(--colox-palette-gray-850);
  --colox-color-bg-solid: #0b0d12;
  --colox-color-bg-subtle: var(--colox-palette-gray-850);
  --colox-color-bg-success: var(--colox-palette-green-900);
  --colox-color-bg-warning: var(--colox-palette-orange-900);
  --colox-color-blue-inverse: #ffffff;
  --colox-color-blue-muted: var(--colox-palette-blue-200);
  --colox-color-blue-solid: var(--colox-palette-blue-600);
  --colox-color-blue-subtle: var(--colox-palette-blue-900);
  --colox-color-border-disabled: var(--colox-palette-gray-850);
  --colox-color-border-error: var(--colox-palette-red-500);
  --colox-color-border-info: var(--colox-palette-blue-500);
  --colox-color-border-inverse: var(--colox-palette-gray-700);
  --colox-color-border-muted: var(--colox-palette-gray-850);
  --colox-color-border-solid: var(--colox-palette-gray-800);
  --colox-color-border-subtle: var(--colox-palette-gray-850);
  --colox-color-border-success: var(--colox-palette-green-500);
  --colox-color-border-warning: var(--colox-palette-orange-500);
  --colox-color-gray-inverse: #ffffff;
  --colox-color-gray-muted: var(--colox-palette-gray-800);
  --colox-color-gray-solid: var(--colox-palette-gray-700);
  --colox-color-gray-subtle: var(--colox-palette-gray-850);
  --colox-color-green-inverse: #ffffff;
  --colox-color-green-muted: var(--colox-palette-green-200);
  --colox-color-green-solid: var(--colox-palette-green-800);
  --colox-color-green-subtle: var(--colox-palette-green-900);
  --colox-color-indigo-inverse: #ffffff;
  --colox-color-indigo-muted: var(--colox-palette-indigo-200);
  --colox-color-indigo-solid: var(--colox-palette-indigo-500);
  --colox-color-indigo-subtle: var(--colox-palette-indigo-900);
  --colox-color-orange-inverse: #ffffff;
  --colox-color-orange-muted: var(--colox-palette-orange-200);
  --colox-color-orange-solid: var(--colox-palette-orange-600);
  --colox-color-orange-subtle: var(--colox-palette-orange-900);
  --colox-color-red-inverse: #ffffff;
  --colox-color-red-muted: var(--colox-palette-red-200);
  --colox-color-red-solid: var(--colox-palette-red-600);
  --colox-color-red-subtle: var(--colox-palette-red-900);
  --colox-color-text-disabled: var(--colox-palette-gray-750);
  --colox-color-text-error: var(--colox-palette-red-300);
  --colox-color-text-info: var(--colox-palette-blue-300);
  --colox-color-text-inverse: var(--colox-palette-gray-900);
  --colox-color-text-muted: var(--colox-palette-gray-600);
  --colox-color-text-solid: var(--colox-palette-gray-300);
  --colox-color-text-subtle: var(--colox-palette-gray-700);
  --colox-color-text-success: var(--colox-palette-green-300);
  --colox-color-text-warning: var(--colox-palette-orange-300);
  --colox-color-brand-inverse: #ffffff;
  --colox-color-brand-muted: var(--colox-palette-brand-200);
  --colox-color-brand-solid: var(--colox-palette-brand-500);
  --colox-color-brand-subtle: var(--colox-palette-brand-900);
  --colox-color-brand-active: color-mix(in srgb, var(--colox-color-brand-solid) 75%, #ffffff);
  --colox-color-brand-hover: color-mix(in srgb, var(--colox-color-brand-solid) 85%, #ffffff);
  --colox-color-gray-active: color-mix(in srgb, var(--colox-color-gray-solid) 75%, #ffffff);
  --colox-color-gray-hover: color-mix(in srgb, var(--colox-color-gray-solid) 85%, #ffffff);
  --colox-color-indigo-active: color-mix(in srgb, var(--colox-color-indigo-solid) 75%, #ffffff);
  --colox-color-indigo-hover: color-mix(in srgb, var(--colox-color-indigo-solid) 85%, #ffffff);
  --colox-color-red-active: color-mix(in srgb, var(--colox-color-red-solid) 75%, #ffffff);
  --colox-color-red-hover: color-mix(in srgb, var(--colox-color-red-solid) 85%, #ffffff);
}
